<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Malinkat - сладости)</title>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/js/bootstrap.min.js">
    <link rel="stylesheet" href="/static/js/jquery-3.1.1.js">
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
</head>
<body>
<header>
    <section>
        <div class="container">
            <h1 class="logo">
                <a href="/startsite">Malinkat</a>
            </h1>
            <nav>
                <a href="">Login/Registration</a>
                <a href="">Корзина</a>
            </nav>
        </div>
    </section>
    <!--    Main nav    -->
    <section>
        <div class="container">
            <nav>
                <a href="">Главная</a>
                <a href="">Магазин</a>
                <a href="">Акции</a>
                <a href="">Блог</a>
                <a href="">Контакты</a>
            </nav>
        </div>
    </section>
</header>
<!--    Slider       -->
<section>
    <div class="container">
        <p>Slider</p>
    </div>
</section>
<!--    Content      -->
<section>
    <div class="container">
        <h2>Malinkat - о нас</h2>
        <p>Бла бла бла</p>
    </div>
</section>

<footer>
    <div class="container">
        <section>
            <nav><a href="">Главная</a>
                <a href="">Магазин</a>
                <a href="">Акции</a>
                <a href="">Блог</a>
                <a href="">Контакты</a>
            </nav>
        </section>
        <section>
            <small>&copy; Malinkat</small>
        </section>
    </div>
</footer>
</body>
</html>